.user {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 10px;
    padding: 5px 10px;
}

.user:hover {
    background-color: lightgrey;
    cursor: pointer;
}

.avatar {
    width: 30px;
    height: 30px;
    padding: 10px;
    border-radius: 50%;
    background-color: white;
}